@import url('https://fonts.googleapis.com/css?family=Rubik|Sail|Flamenco:300');
body {
	margin: 0;
	background: #242424;
	font-family: 'Rubik';
}
a {
	text-decoration: inherit;
	color: inherit;
}
a:hover {
	color: teal;
}
.teal {
	color: teal;
}
.headerImg {
	width: 100%;
	height: 40em;
	background: url(midtown.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 0;
}
.headerText {
	position: relative;
	top: -30em;
	max-width: 40em;
	margin: auto;
	text-align: center;
	color: white;
	z-index: 10;
	border-bottom: solid .2em white;
}
.headerText h1 {
	font-family: 'Sail';
	font-size: 3em;
	margin-bottom: .3em;
}
.headerText h2 {
	font-family: 'Flamenco';
	margin-top: 0;
	line-height: 1em;
}

.content {
	margin: auto;
	width: 90%;
	max-width: 40em;
	background: transparent;
	margin-top: -20em;
	z-index: 500;
	padding-bottom: 4em;
}
.leftSide {
	width: 8em;
	display: inline-block;
}
.rightSide {
	background: white;
	display: inline-block;
	vertical-align: top;
	width: 30em;
}
.squareMenu {
	width: 100%;
	height: 5em;
	line-height: 5em;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Sail';
}
.squareMenu:hover {
	color: teal;
}
.mapMenu {
	background: #363636;
	color: white;
}
.blogMenu {
	color: white;
	background: gray;
}
.dataMenu {
	background: lightgray;
}
.dateLine {
	margin: 2em;
}
.post {
	margin: 2em;
	background: lightgray;
}
.postContain {
	padding: 1em;
}
.postImg {
	width: 100%;
}
.postTitle {
	font-size: 1.2em;
	text-decoration: underline;
}
.postContent {
	margin-top: .8em;
}
.footer {
	font-family: 'Flamenco';
	color: white;
	margin: auto;
	width: 90%;
	max-width: 40em;
	margin-top: 5em;
	height: 15em;
	border-top: solid .2em white;
	padding-top: 2em;
	text-align: center;
}




#logo {
	font-family: 'Sail';
	text-align: center;
	color: white;
	position: fixed;
	background: #242424;
	width: 100%;
	z-index: 9000;
}
#logo h1 {
	margin-bottom: 0;
}
#mapid {
	width: 100%;
	height: 70%;
	z-index: 5;
}
.contentAlt {
	color: white;
	margin: auto;
	width: 90%;
	max-width: 40em;
	z-index: 500;
}
#moreData {
	color: teal;
	font-size: 1.2em;
}
.moreDataItems {
	display: block;
	margin-top: .2em;
}
#title {
	margin-top: 2em;
}
#title h1 {
	display: inline-block;
}
#title a {
	color: teal;
	margin-left: 1em;
}
.boroughTitle {
	color: teal;
	font-family: 'Flamenco';
}
.listLine {
	border-bottom: solid 1px white;
	padding-bottom: 1em;
	padding-top: 1em;
}
.listLine h3 {
	color: teal;
	font-family: 'Flamenco';
	margin: 0;
}

@media (max-width: 700px) {
	.headerText {
		border: none;
	}
	.headerText h1 {
		font-size: 2em;
	}
	.leftside {
		display: block;
		width: 100%;
		text-align: center;
	}
	.squareMenu {
		height: 3em;
		line-height: 3em;
	}
	.rightSide {
		width: 100%;
	}
	.squareMenu {
		display: inline-block;
		width: 32%
	}
}



.market {
	height: 50px;
	width: 50px;
	background: white;
}